{
    "include": [
        "routes/**/*.js",
        "models/**/*.js",
        "app.js"
    ],
    "require": [
        "babel-register"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "sourceMap": false,
    "instrument": false
     "check-coverage": true,
        "per-file": false,
        "lines": 70,
        "statements": 70,
        "functions": 30,
        "branches": 30,
        "sourceMap": false,
        "instrument": false
 }
